---
layout: default-index
---
<div id="logo-top" class="row indigo darken-3">
    <div class="valign-wrapper logo-show ">
        <h5 class="valign center-block center-align white-text">
            <img src="/img/bigwhitelogo.png" alt="" class="logo responsive-img">
            <br>
            <small style="vertical-align: top;"><i class="material-icons cyan-text">open_in_browser</i> Abierto&nbsp;&nbsp;&nbsp;<i class="material-icons cyan-text">share</i> Libre&nbsp;&nbsp;&nbsp;<i class="material-icons cyan-text">favorite</i> Gratuito</small><br>
            <br>
            <strong>Plataforma web</strong> de participación ciudadana<br>
            <small>~ Democratizando la política ~</small>
        </h5>
    </div>
</div>
<div id="why" class="container">
    <div class="row">
        <div class="col l4 s12 m4 center-align">
            {% include svg/decision-making.svg %}
            <br>
            <p>Para que tus representantes puedan tomar <strong>mejores decisiones</strong> enriqueciendose de los intereses de la comunidad.</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            {% include svg/community.svg %}
            <br>
            <p>Para que puedas <strong>involucrarte fácil y activamente</strong> con tu entorno, participando de distintas formas.</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            {% include svg/city-hall.svg %}
            <br>
            <p>Para impulsar los pilares del <strong>gobierno abierto</strong>: Participación, Colaboración y Transparencia.</p>
        </div>
    </div>
</div>

<div id="showcase" class="container">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="pictures">
                <img src="/img/car1.png" alt="" class="responsive-img">
                <img src="/img/car2.png" alt="" class="responsive-img">
                <img src="/img/car3.png" alt="" class="responsive-img">
                <img src="/img/car4.png" alt="" class="responsive-img">
                <img src="/img/car5.png" alt="" class="responsive-img">
            </div>
        </div>
        <div class="col s12 m12 l6">
            <h4>¿Qué es Virtuágora?</h4>
            <blockquote><b>Virtuágora</b> es una plataforma web pensada para cualquier ámbito democrático, en la que los ciudadanos pueden expresar su opinión y participar frente a los anuncios y actividades de funcionarios públicos. </blockquote>
            <p>Además, se funda dentro de las buenas prácticas del concepto de Gobierno Abierto y aporta el potencial de las TICs para mejorar la comunicación entre representantes y representados. Buscando así, generar un círculo virtuoso de intercambio de opiniones para construir una mejor sociedad.</p>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="valign center-block center-align">
        <div class="parallax"><img src="img/parallax-1.jpg"></div>

        <div class="row">
            <div class="col s12">
                <div class="card indigo darken-2 ">
                    <div class="card-content">
                        <p>
                            <a href="http://demo.virtuagora.org" class="waves-effect waves-light btn btn-large"><i class="material-icons left">sentiment_very_satisfied</i>Ir a la demo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="github-fetch" class="progress">
    <div class="indeterminate"></div>
</div>
<div id="github-data" class="indigo darken-3">
    <div class="row">

        <div class="col s12 m9">
            <p class="white-text truncate">Last commit: <span id="sha"></span></p>
        </div>
        <div class="col s12 m3 right-align">
            <a href="https://github.com/virtuagora/virtuagora" class="waves-effect waves-light btn btn-small"><i class="material-icons left">get_app</i>Github</a>
        </div>
    </div>
</div>
<div id="contenidos-showcase">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>Herramientas de participación</h3>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 m4">
                {% include svg/bullhorn.svg %}
                <h5>Problematicas</h5>
                <p>Reportá las problemáticas que encuentres. Otros pueden colaborar sumandose a tu causa expresando si dicho problema tambien les afecta.</p>
            </div>
            <div class="col s12 m4">
                {% include svg/proposes.svg %}
                <h5>Propuestas</h5>
                <p>Tus representantes podrán exponer propuestas de solucion a tus progblemas. Las mismas son sometidas a votación por la comunidad, y asi medir su nivel de aceptación.</p>
            </div>
            <div class="col s12 m4">
                {% include svg/docs1.svg %}
                <h5>Docs Colaborativos</h5>
                <p>Los documentos colaborativos pueden se comentados en cualquiera de sus párrafos. Mientras más aportes se hagan, mejor va ser el documento final.</p>
            </div>
        </div>
    </div>
</div>
<div id="contenidos-showcase2">
    <div class="container">
        <div class="row center-align">
            <div class="col s12 m4">
                {% include svg/event.svg %}
                <h5>Eventos</h5>
                <p>Organismos y grupos políticos podrán dar a conocer los eventos que organicen, mientras que los usuarios pueden confirmar su asistencia a estos.</p>
            </div>
            <div class="col s12 m4">
                {% include svg/announcement.svg %}
                <h5>Novedades</h5>
                <p>Enterate de todas las novedades publicadas por tus representantes o grupos políticos.</p>
            </div>
            <div class="col s12 m4">
                {% include svg/star.svg %}
                <h5>¡Mucho mas!</h5>
                <p>Virtuágora está en constante evolución. Muchas nuevas características serán incluídas próximamente.</p>
                <p></p>
            </div>
        </div>
        <div class="row center-align">
            <a href="https://github.com/virtuagora/virtuagora" class="waves-effect waves-light btn btn-large indigo darken-2"><i class="material-icons left">chevron_right</i>Descubrí otros beneficios<i class="material-icons right">chevron_right</i></a>
        </div>
    </div>
</div>
<div id="examples-showcase">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="img/s1-crop.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3><strong>Centros de estudiantes</strong></h3>

                    <p class="white-text">Estableciendo un espacio de debate para que los estudiantes<br>trabajen en conjunto por mejores políticas en su institución educativa.</p>

                </div>
            </li>
            <li>
                <img src="img/s2-crop.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3><strong>Clubes y vecinales</strong></h3>
                    <p class="white-text">Complementando a las asambleas tradicionales, brindándole la posibilidad<br>al vecino de expresar su voz y voto en cualquier momento</p>
                </div>
            </li>
            <li>
                <img src="img/s3-crop.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3><strong>Municipios y comunas</strong></h3>
                    <p class="white-text">Acercando la actividad de los concejos deliberantes a los ciudadanos<br>para tomar decisiones más acordes a sus necesidades.</p>
                </div>
            </li>
            <li>
                <img src="img/s4.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3><strong>Camaras legislativas</strong></h3>

                    <p class="white-text">Estableciendo transparencia y trazabilidad entre proyectos y legisladores.<br>Además de permitirle al ciudadano aportar su opinión en cada instancia.</p>
                </div>

            <li>
                <img src="img/s5-crop.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3><strong>Otros ambitos</strong></h3>
                    <p class="white-text">Virtuágora facilita la toma de decisiones en ámbitos donde los actores tienen<br> dificultades para coincidir en tiempo y lugar, o el consenso es complejo debido a su multitud.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="valores">
    <div class="container">

        <div class="row center-align cyan-text text-darken-1">
            <h2>Virtuágora es <strong>colaborativo</strong></h2>
        </div>
        <div class="row center-align">
            <div class="col l2 offset-l3 m4 s12  center-align">
                <i class="material-icons large cyan-text text-darken-1">open_in_browser</i>
                <br>
                <h5>Abierto</h5>
            </div>
            <div class="col l2 m4 s12 center-align">
                <i class="material-icons large cyan-text text-darken-1">share</i>
                <h5>Libre</h5>
            </div>
            <div class="col l2 m4 s12 center-align">
                <i class="material-icons large cyan-text text-darken-1">favorite</i>
                <h5>Gratuito</h5>
            </div>
        </div>
        <div class="row center-align">
           <div class="col s12 m10 offset-m1 l8 offset-l2">
            <p>
                ¿Querés instalar Virtuágora en tu centro, municipio o comunidad?
                Contactanos por los siguientes medios, ¡O simplemente descargá el código e instalalo!
                Todo tipo de consulta, idea o ayuda es bienvenida.
            </p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s12">
            <a href="https://github.com/virtuagora/virtuagora" class="waves-effect waves-light btn">Github</a>
            <a href="https://facebook.com/virtuagora" class="waves-effect waves-light btn">Facebook</a>
            <a href="https://twitter.com/virtuagora" class="waves-effect waves-light btn">Twitter</a>
           </div>
        </div>
    </div>
</div>
