<div class="section has-text-centered">
        <a href="http://virtuagora.github.io/"><img src="{{ "/assets/img/logo-virtuagora.svg" | prepend: site.github.url }}" alt="" class="image road2v-logo"></a>
        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
            <ul>
                {% assign default_paths = site.pages | map: "path" %}
                {% assign page_paths = site.header_pages | default: default_paths %}

              <li><a href="{{ "/" | relative_url }}">{% t titles.home %}</a></li>

              {% if page_paths %}
              {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title %}
              <li><a href="{{ my_page.url | relative_url }}">{% t {{my_page.title}} %}</a></li>
              {% endif %}
            {% endfor %}
              {% endif %}
              <li><a href="https://twitter.com/virtuagora"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://facebook.com/virtuagora"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://github.com/virtuagora"><i class="fa fa-github-alt"></i></a></li>
              {% for lang in site.languages %}
              {% unless site.lang == lang %}
                {% if lang == site.default_lang %}
                <li><a href="{{ site.baseurl_root }}{{ page.url }}" ><span class="icon"><i class="fa fa-language" aria-hidden="true"></i></span> {% t langs.{{ lang }} %}</a></li>
                {% else %}
                <li><a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" ><span class="icon"><i class="fa fa-language" aria-hidden="true"></i></span>{% t langs.{{ lang }} %}</a></li>
                {% endif %}

                {% assign next = forloop.index | plus: 1 %}

                {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
                  <span class="separator"> &bull; </span>
                {% endif %}

              {% endunless %}
            {% endfor %}
            </ul>

          </nav>
    </div>
