body.error404{
    background: url(http://i.giphy.com/ofHpfBbgXhEVG.gif) no-repeat center center fixed, url('../img/bg5.png') fixed repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //    background-color: $secondary-color;
    background-blend-mode: hard-light;
}

body.error404  .valign-wrapper{
    min-height: 80vh;
    .valign{
        width: 100%;
    }
}

body.error404 svg{
    width: 150px;
    margin-bottom: -40px;
    fill: #FFF;
}
body.error404 .icon-running{
    font-size: 30px;
    margin-right: 20px;
}
