html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

strong{
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", serif;
}

nav .brand-logo img{
    height: 64px;
    padding: 10px;
    @media #{$small-and-down} {
        height: 56px;
        padding: 10px;
}
}

.navbar-fixed{
    position: fixed;
}

nav.index.shrink  {
    background-color: $primary-color;
    height: 64px;
    line-height: 64px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .nav-wrapper i,
    a.button-collapse,
    a.button-collapse i{
        height: 64px;
        line-height: 64px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .brand-logo img{
        height: 64px;
        padding: 10px;
        @media #{$small-and-down} {
            height: 56px;
            padding: 10px;
    }
}
}
@media #{$large-and-up} {
    nav.index,    nav.index .nav-wrapper i,
    nav.index a.button-collapse,
    nav.index a.button-collapse i{
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
}

nav.index{
    background-color: rgba(255, 255, 255, 0);
}

nav{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: none;
    .brand-logo img{
        height: 100px;
        padding: 25px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        @media #{$small-and-down} {
            height: 56px;
            padding: 10px;
    }
}
}

nav #mobile-demo{
    .img-logo-mobile{
        background-image: url('../img/bg3.png');
        background-attachment: fixed;
        background-repeat: repeat;
        background-blend-mode: lighten;
    }
    img{
        padding:30px 15px 0;
    }
}

footer.page-footer{
    margin-top: 0;
}

footer .credit{
    background-color: $secondary-color;
    font-size:10px;
    height: auto;
    height:15px;
}

.chip img{
    background-color: $secondary-color-dark;
}
