#post{

}

#post .fondo-titulo{
    padding: 50px 0;
    background-image: url('../img/bg4.png');
    background-attachment: fixed;
    background-repeat: repeat;
    h2{
        color: #FFF;
    }
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
}

#post .autor-img{
    margin: 0 5px -15px;
    height: 40px;
    width: 40px;
}

#blog-header{
    padding: 50px 0;
    background-image: url('../img/bg7.png');
    background-attachment: fixed;
    background-repeat: repeat;
    //    background-color: $secondary-color;
    //    background-blend-mode: overlay;
    margin-bottom: 30px;
}

.footer-post, .block-stuff{
    background: rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(255,255,255,.5);
    box-shadow: inset 0 0 3px rgba(0,0,0,.1);
    clear: both;
    margin: 24px 0 0;
    padding: 12px 24px;
}

.blog-list{
    .post-date{
        margin-bottom: 0;
    }
    .tag-cat-list{
        ul li{
            font-size: 13px;
        }
    }
    .post-by-tag-cat{
        span.date{
            font-size: 12px;
        }
        ul li{
            margin: 3px 0;
        }
    }
}
