<footer>
  <section class="hero is-light is-small">
    <div class="hero-body">
      <div class="has-text-centered">
        <a href="https://github.com/virtuagora" class="has-text-primary">
          <span class="icon is-medium"><i class="fa fa-github-alt"></i></span>
        </a>
        <br>
        <br>
        <h1 class="title is-3 is-lato is-800">Sigamos el contacto!
          <i class="em em-grinning"></i>
        </h1>
        <p>Podes encontrarnos en
          <a href="https://facebook.com/virtuagora" class="has-text-primary">
                      <span class="icon">
                        <i class="fa fa-facebook-square"></i>
                      </span> Facebook</a> y en
          <a href="https://twitter.com/virtuagora" class="has-text-primary">
                      <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span> Twitter</a><br><b>Seguinos!</b>
        </p>
      </div>
      <br>
      <div class="columns">
        <div class="column is-8 is-offset-2 has-text-centered">
          <p class="is-size-7">{{site.description_es}}<i class="em em-heart is-size-6"></i></p>
        </div>
      </div>
    </div>
  </section>
</footer>
