---
layout: default-post
---
<div id="blog-header" class="z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3><strong>The Virtuagora blog</strong></h3>
                <h4>News, notes and ramblings. <a class="orange-text text-darken-2" href=""><i class="zmdi zmdi-rss zmdi-hc-fw orange-text"></i> Subscribe!</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="container blog-list">
    <div class="row">
        <div class="col s12 l9">
            {% if paginator.page != 1 %}
            <div class="row">
                <div class="block-stuff center-align">
                    {% if paginator.previous_page %}
                    <span><i class="zmdi zmdi-time-restore"></i> Historial</span>
                    <a href="/blog" class="left"><i class="zmdi zmdi-long-arrow-left"></i> Newest</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="divider"></div>
                </div>
            </div>
            {% endif %}
            {% for post in paginator.posts %}
            <div class="row">
                <div class="col s12 l2 align-right">
                    <p class="post-date"><strong>{{ post.date | date: "%e %B, %Y" }}</strong><a href=""></a></p>
                </div>
                <div class="col s12 l10">
                    <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                    <a href="https://github.com/{{post.githubuser}}">

                        <div class="chip cyan darken-1 white-text">
                            <img src="https://github.com/{{post.githubuser}}.png" alt="Contact Person">
                            {{ post.author }}
                        </div>
                    </a>
                    {{ post.excerpt }}
                    <div class="footer-post">
                        {% if (post.categories.size) > 0 %}
                        <i class="zmdi zmdi-folder zmdi-hc-fw"></i> CATEGORIES:
                        {% for cat in post.categories %}
                        <span><a href="/blog/category.html#{{cat}}">{{cat | downcase | replace:" ","-" }}</a></span>
                        {% endfor %}
                        {% endif %}
                        <br>
                        {% if (post.tags.size) > 0 %}
                        <i class="zmdi zmdi-label zmdi-hc-fw"></i> TAGS:
                        {% for tag in post.tags %}
                        <span><a href="/blog/tag.html#{{tag}}">{{tag | downcase | replace:" ","-" }}</a></span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="divider"></div>
                </div>
            </div>
            {% endfor %}
            <div class="row center-align">
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li class="waves-effect left"><a href="{{ paginator.previous_page_path }}"><i class="zmdi zmdi-caret-left"></i> Newer</a></li>
                    {% else %}
                    <li class="disabled left"><a href="#!"><i class="zmdi zmdi-caret-left"></i> Newer</a></li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <li class="active"><a href="#!">{{ page }}</a></li>
                    {% elsif page == 1 %}
                    <li class="waves-effect"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if paginator.next_page %}
                    <li class="waves-effect right"><a href="{{ paginator.next_page_path }}">Older <i class="zmdi zmdi-caret-right"></i>
                        </a></li>
                    {% else %}
                    <li class="disabled right"><a href="#!">Older <i class="zmdi zmdi-caret-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col s12 l3">
            <div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
                <a href="/blog/search" class="btn-floating btn-large">
                    <i class="large material-icons">search</i>
                </a>
            </div>
            <div class="card cyan darken-1 tag-cat-list">
                <div class="card-content white-text">
                    {% if (site.categories.size) > 0 %}
                    <h6><i class="zmdi zmdi-folder zmdi-hc-fw"></i> <b>CATEGORIES</b></h6>
                    <ul>
                        {% for cat in site.categories limit: 7 %}
                        {% assign t = cat | first %}
                        {% assign posts = cat | last %}
                        <li><a class="white-text" href="/blog/category#{{t | downcase | replace:" ","-"}}">{{t | downcase | replace:" ","-" }} ({{ posts | size }})</a></li>
                        {% endfor %}
                        <a class="white-text" href="/blog/category.html"><i class="zmdi zmdi-more zmdi-hc-fw"></i> See all </a>
                    </ul>
                    {% endif %}
                    {% if (site.tags.size) > 0 %}
                    <h6><i class="zmdi zmdi-label zmdi-hc-fw"></i> <b>TAGS</b></h6>
                    <ul>
                        {% for tag in site.tags limit: 7 %}
                        {% assign t = tag | first %}
                        {% assign posts = tag | last %}
                        <li><a class="white-text" href="/blog/tag#{{t | downcase | replace:" ","-"}}">{{t | downcase | replace:" ","-" }} ({{ posts | size }})</a></li>
                        {% endfor %}
                        <a class="white-text" href="/blog/tag.html"><i class="zmdi zmdi-more zmdi-hc-fw"></i> See all </a>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <a href="/feed.xml" class="btn orange darken-2"><i class="zmdi zmdi-rss white-text"></i> Subscribe</a>
        </div>
    </div>
</div>
