---
layout: default-post
permalink: /:path/:basename/
---
<div id="blog-header" class="z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3><strong>The Virtuagora blog</strong></h3>
                <h4>News, notes and ramblings. <a class="orange-text text-darken-2" href=""><i class="zmdi zmdi-rss zmdi-hc-fw orange-text"></i> Subcribe!</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="container blog-list">
    <div class="row">
       <a class="left waves-effect waves-light btn-floating" href="/blog"><i class=" zmdi zmdi-hc-fw zmdi-arrow-left"></i></a>
        <h4> <i class="zmdi zmdi-labels zmdi-hc-fw"></i>Blog Posts by tags</h4>
        <p>Click on a tag to see relevant list of posts.</p>
        {% for tag in site.tags %}
        {% assign t = tag | first %}
        <a href="#{{t | downcase | replace:" ","-"}}">
            <div class="chip">
                {{ t | downcase }}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12 l8 post-by-tag-cat">
            <div class="row">
                {% for tag in site.tags %}
                {% assign t = tag | first %}
                {% assign posts = tag | last %}
                <h6 id="{{ t | downcase }}"><b><i class="zmdi zmdi-label zmdi-hc-fw"></i> {{ t | downcase }} <a href="#"><i class=" right zmdi zmdi-hc-fw zmdi-long-arrow-up"></i></a></b></h6>
                <ul>
                    {% for post in posts %}
                    {% if post.tags contains t %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <br>
                <div class="divider"></div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
